VITE_APP_NAME=HUB DASHBOARD

VITE_API_URL=http://localhost:3000/api

VITE_LOGIN_ENDPOINT=/auth/login
VITE_REFRESH_TOKEN_ENDPOINT=/auth/refresh-token
VITE_LOGOUT_ENDPOINT=/auth/logout
VITE_GET_ME_ENDPOINT=/auth/me

VITE_APP_POSTS_ENDPOINT=posts

VITE_APP_USERS_ENDPOINT=users
VITE_APP_USERS_OVERVIEW_ENDPOINT=users/overview

VITE_APP_REPORTS_ENDPOINT=reports
VITE_APP_REPORTS_MODERATION_ENDPOINT=reports/moderation
